/* ===== MAIN STYLES ===== */
/* 
 * 이 파일은 프로젝트의 메인 스타일을 정의합니다.
 * 각 컴포넌트별 CSS 파일들을 import하여 전체 스타일을 구성합니다.
 */

/* ===== EXTERNAL RESOURCES ===== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ===== CSS FILES IMPORT ===== */
@import "reset.css";
/* 브라우저 기본값 초기화 */
@import "variables.css";
/* CSS 변수 정의 */
@import "../components/status-bar.css";
/* 상태바 컴포넌트 */
@import "../components/nav-bar.css";
/* 네비게이션 바 컴포넌트 */
@import "../components/screen-header.css";
/* 화면 헤더 컴포넌트 */
@import "../components/user-components.css";
/* 유저 컴포넌트 */
@import "../components/badge.css";
/* 배지 컴포넌트 */
@import "../screens/login.css";
/* 로그인 페이지 전체 */
@import "../screens/friends.css";
/* 친구 페이지 전체 */
@import "../screens/find.css";
/* 찾기 페이지 전체 */

/* ===== GLOBAL STYLES ===== */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #2e363e;
    padding-bottom: 80px;
    /* 네비게이션 바 높이만큼 하단 여백 추가 */
}

.main-screen {
    padding: 0px var(--horizontal-space);
}